/* Footer Page */

#footer{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    align-items: center;
    padding: 15px;
}

.section-foot{
    width: 100%;
    background-color: whitesmoke;
}
.footer-nav{
    align-items: center;
    background-color: whitesmoke;
    margin: 15px;
}

.nav-f{
    display: flex;
    justify-content: center;

    @media@phone{
        flex-direction: column;
    }
}

//animation

#myAnimation {
    animation-duration: 3.9s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .online  {
    animation-duration: 3.9s;
    animation-name: slideintwo;
  }
  
  @keyframes slideintwo {
    from {
      margin-right: 100%;
      width: 300%; 
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

