.header {
  .flex(space-around, flex-end);
  background-color: @MYM-color-white;
  .border-bottom-grey();
  width: 90%;
  height: 12rem;
  margin-top: 2rem;

  @media@tablet {
    .flex(space-between, center, column);
    .width-100();
    height: 16rem;
  }

  h1 {
    font-size: 3rem;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width: 70%;
    font-weight: 900;
    text-align: center;
    color: @MYM-color-primary;
    line-height: 3rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 3rem 0 1rem;
  }
  nav {
    .flex(space-around, flex-end, column);
    width: 30%;
    height: 80%;
    font-size: 3 rem;
    font-weight: bold;
    padding: 0 2% 0 2%;
    margin-bottom: 1rem;
    @media@tablet {
      width: 75%;
      .flex(center, center, row);
    }
    @media@mobile {
      .flex(space-around, center);
      

    //margin-right: 8%;
    a {
      text-decoration: none;
      color: white;
      background-color: @MYM-color-primary;
      padding-top: 3%;
      border-radius: 0.5rem;
      width: 35%;
      height: 35%;
      margin: 1%;
      text-align: center;
      @media@tablet {
        height: 100%;
        width: 35%;
        margin-left: 3%;
        padding: 1%;
      }

      &:hover {
        background-color: lighten(@MYM-color-primary, 30%);
      }
    }
  }
}
