.tabs {
  .border-bottom-grey();
  .flex(center, center);
  width: 90%;
  height: 47px;
  background-color: @MYM-color-white;
  margin-top: 1.5%;

  @media@tablet {
    .width-100();
    height: 7rem;
  }
  @media@mobile {
    height: 9rem;
  }

  .topics {
    .flex(center, center);
    @media@tablet {
      flex-wrap: wrap;
      width: 80%;
    }
    .title {
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-weight: bold;
      @media@tablet {
        width: 100%;
        text-align: center;
      }
    }
    .tab {
      .flex(none, center);
      border-radius: 4rem;
      color: @MYM-color-white;
      background-color: @MYM-color-primary;
      margin: 0 5px;
      padding: 2px 10px;
      font-size: 12px;
      letter-spacing: 2px;
      cursor: pointer;
      font-weight: bold;
      @media@tablet {
        text-align: center;
        margin-bottom: 1%;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    .active-tab {
      border-radius: 4rem;
      background-color: @MYM-color-white;
      color: @MYM-color-primary;
      border: 2px solid @MYM-color-primary;
    }
  }
}
