
/* Wrapper */
#wrapper{
    display: flex;
    flex-direction: column;
    margin: 10rem;
    color: rgb(0, 3, 161);
    border: solid black 2px;
}

/* Header Nav */
nav{
    display: flex;
    flex-direction: flex-end;
}
/* Intro */
#intro{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
    border: solid black 2px;
}

/* Nav */
/* Main */

/* Featured Post */
.post-featured{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
/* Images */
img{
    width: 50rem;
        margin: 5rem;
    }
/* button */
.email-capture{
    background-color: #eee;
    padding: 1rem;
    display: block;
    text-align: center;

}

.button{
    
}